<section id="handovers" class="space-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Statistiky</h2>
        <blockquote class="section-subheading text-muted">
          <p>Nevěřím žádné statistice, kterou jsem sám nezfalšoval.</p>
          <footer>
            Toto <strong>ne</strong>řekl
            <a href="http://cs.wikiquote.org/wiki/Winston_Churchill">
              <cite title="Wiki">
                Winston Churchil
              </cite>
            </a>
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="text-muted alert alert-danger">Work in progress...</div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          {{#link-to 'stats.runner' 'all' tagName='li'}}
            <a>Všichni</a>
          {{/link-to}}

          {{#each attrs.runners as |runner|}}
            {{#link-to 'stats.runner' runner.id tagName='li'}}
              <a>{{runner.fullName}}</a>
            {{/link-to}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {{liquid-outlet}}
      </div>
    </div>
  </div>
</section>
