        <!-- Header -->
        <header>
          <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Vltava Run 2015</div>
              <div class="intro-heading">
                Ty a tvůj tým, 1 víkend, <br />
                350 km dlouhý štafetový běh <br />
                podél Vltavy od pramene až do Prahy.
              </div>
              {{#link-to 'handovers' class="btn btn-xl"}}
                Náš příběh
              {{/link-to}}
            </div>
          </div>
        </header>
