{{partial "layout/menu"}}

{{liquid-outlet class="main"}}

          <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <span class="copyright">Vytvořeno na počest týmu <strong>Šumava zavazuje</strong></span>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/VLTAVARUN"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/vltavarun?fref=ts"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="http://vltavarun.cz/index"><i class="fa fa-home"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    <li><a href="http://vltavarun.cz/live/watch-team/163">Výsledková listina</a>
                    </li>
                    <li><a href="http://vltavarun.cz/live/watch-handover/cil">Časy v cíli</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
