  <div class="container">
    {{!graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Délka běhu" key='length'}}
    {{!graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Náročnost" key='difficulty'}}
    {{!graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Doba běhu" key='duration'}}
    {{graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Tempo" key='pace'}}
  </div>
