  <div class="container">
    {{graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Délka trasy [km]" key='length'}}
    {{graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Náročnost [1 až 5]" key='difficulty'}}
    {{graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Doba běhu [min]" key='duration'}}
    {{graph-bar handovers=attrs.handovers selectedRunner=selectedRunner label="Tempo [min/km]" key='pace'}}
  </div>
