<div class="row">
  <div class="col-lg-12 text-center">
    <h3>{{label}}</h3>
    {{ember-chart type='Bar' data=graph width=960 height=400}}

    <hr />
AAA
{{log chartist}}
    {{chartist-chart type="bar" data=chartist.chartData}}
BBB
  </div>
</div>
